<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<body>

<div class="top-bar">
    <h3>Web app</h3>

    <div></div>

    <div class="nav-right">

        <!-- PROFILE -->
        <div class="profile" onclick="toggleDropdown()">
            {{ session['user'][0]|upper }}
        </div>

        <!-- DROPDOWN -->
        <div id="dropdown" class="dropdown hidden">
            <p class="username">{{ session['user'] }}</p>
            <p class="role">{{ session['role'] }}</p>

            <hr>

            <a href="#">⚙️ Settings</a>
            <a href="{{ url_for('logout') }}">🚪 Logout</a>
        </div>

    </div>

</div>

<div class="main-wrapper">

    <h1>Welcome back, {{ user }} 👋</h1>

    <div class="dashboard-grid">

        <div class="card">
            <h3>Total Students</h3>
            <p>{{ total_students }}</p>
        </div>

        <div class="card">
            <h3>System Status</h3>
            <p>Running smoothly</p>
        </div>

        <div class="card wide">
            <h3>Quick Actions</h3>
            <div class="actions">
                <a href="{{ url_for('students') }}" class="btn">View Students</a>

                {% if session.get('role') == 'admin' %}
                <a href="{{ url_for('add_student') }}" class="btn green">Add Student</a>
                {% endif %}
            </div>
        </div>

    </div>

</div>
<script>
function toggleDropdown() {
    const dropdown = document.getElementById("dropdown");
    dropdown.classList.toggle("hidden");
}

// close when clicking outside
window.onclick = function(e) {
    if (!e.target.closest('.profile')) {
        document.getElementById("dropdown").classList.add("hidden");
    }
}
</script>

</body>
</html>