<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- TOP BAR (minimal navigation) -->
<div class="top-bar">

    <div></div>

    <div class="nav-right">

        <a href="{{ url_for('dashboard') }}" class="nav-btn">Dashboard</a>

        <!-- PROFILE -->
        <div class="profile" onclick="toggleDropdown()">
            {{ session['user'][0]|upper }}
        </div>

        <!-- DROPDOWN -->
        <div id="dropdown" class="dropdown hidden">
            <p class="username">{{ session['user'] }}</p>
            <p class="role">{{ session['role'] }}</p>

            <hr>

            <a href="#">⚙️ Settings</a>
            <a href="{{ url_for('logout') }}">🚪 Logout</a>
        </div>

    </div>

</div>

<!-- MAIN TABLE -->
<div class="table-container">

    <h2>Students</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                {% if session.get('role') == 'admin' %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.email }}</td>

                {% if session.get('role') == 'admin' %}
                <td>
                    <a href="{{ url_for('edit_student', id=s.id) }}" class="edit">Edit</a>
                    <a href="{{ url_for('delete_student', id=s.id) }}" class="delete">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="card wide">
            <div class="actions">

                {% if session.get('role') == 'admin' %}
                <a href="{{ url_for('add_student') }}" class="btn green">Add Student</a>
                {% endif %}
            </div>

</div>
<script>
function toggleDropdown() {
    const dropdown = document.getElementById("dropdown");
    dropdown.classList.toggle("hidden");
}

// close when clicking outside
window.onclick = function(e) {
    if (!e.target.closest('.profile')) {
        document.getElementById("dropdown").classList.add("hidden");
    }
}
</script>

</body>
</html>